@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");

h1 {
  font-family: 'Lobster', cursive;
  font-weight: 500;
  font-size: 500%;
  line-height: 1.5;
  color: #008E94;
  text-align: center
}

body {
  background-color: #B6EAEC;
  color: #4f4f4f;
  font-family: 'Cabin';
}

h3 {
  font-family: 'Cabin';
  font-weight: 500;
  font-size: 200%;
  line-height: 1.5;
  color: #008E94;
}

h2 {
  font-family: 'Lobster', cursive;
  font-weight: 500;
  font-size: 300%;
  line-height: 1.5;
  color: #7c7c7c;
}